body {
    background-color: rgb(255, 195, 139);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    min-height: 100vh;


}

#button {

    background-color: transparent;
    border: none;
    color: inherit;
    padding: 0;
    cursor: pointer;
}

#obchod{
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-family: 'Seven Segment', monospace;
    background-color: rgba(118, 59, 0, 0.5);
    border-radius: 20px;
    border: none;
    color: inherit;
    cursor: pointer;
    padding: 10px 20px;
}

#reset{
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: rgba(118, 59, 0, 0.5);
    border-radius: 20px;
    border: none;
    color: inherit;
    cursor: pointer;
    padding: 10px 20px;
}

#kosik{
    position: relative;
    background-color: rgba(118, 59, 0, 0.5);
    border-radius: 20px;
    border: none;
    color: inherit;
    cursor: pointer;
    left: 100px;
    top: 20px;
}



#kosik h2 {
  position: absolute;
  font-size: 40px;
  top: 145px;  
  left: 45px;    
  font-family: 'Seven Segment', monospace;
}

#auto{
    position: relative;
    background-color: rgba(118, 59, 0, 0.5);
    border-radius: 20px;
    border: none;
    color: inherit;
    cursor: pointer;
    right: 20px;
    top: 20px;
}

#auto h2 {
  position: absolute;
  font-size: 40px;
  top: 145px;  
  right: 50px;    
  font-family: 'Seven Segment', monospace;
}

#popis{
    position: absolute;
    font-size: 20px;
    top: 220px;  
    right: 20px;    
    font-family: 'Seven Segment', monospace;
}

#close{
    position: relative;
    bottom: 210px;
    left: 70px;
    background-color: transparent;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

#button :active{
    height: 80%;
    width: 80%;
}




.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background: rgb(255, 255, 255);
    padding: 20px;
    width: 500px;
    height: 500px;
    margin: 100px auto;
    border-radius: 20px;
    text-align: center;
}

#nadpis {
    text-align: center;
    font-family: 'Seven Segment', monospace;
    position: relative;    
    font-size: 35px;
}

#odstavec {
    font-family: 'Seven Segment', monospace;
    font-size: 50px;
    position: absolute;
    top: 20px;
}

#klikPocet{
    position: absolute;
    top: 290px;
    left: 65px;
    font-family: 'Seven Segment', monospace;
    font-size: 30px;
}

#autoPocet{
    position: absolute;
    top: 290px;
    right: 70px;
    font-family: 'Seven Segment', monospace;
    font-size: 30px;
}




